<section class='login'>
	<form name="loginForm" ng-submit="register()" novalidate>
		<h1>Almost there!</h1>
		<p>Please register to access our album</p> 
		<p class="error formerror" ng-show="message"> {{message}} </p>
		
		<input type="firstname" name="firstname" placeholder="First Name" autofocus 
					 ng-model="user.firstname" ng-required="true"/>
			<p class="error validationerror" ng-show="loginForm.firstname.$invalid && loginForm.firstname.$touched">Must be a valid First Name</p>
		
				<input type="lastname" name="lastname" placeholder="Last Name" autofocus 
					 ng-model="user.lastname" ng-required="true"/>
			<p class="error validationerror" ng-show="loginForm.lastname.$invalid && loginForm.lastname.$touched">Must be a valid Last Name</p>
		
		<input type="email" name="email" placeholder="Email" 
					 ng-model="user.email" ng-required="true"/>
			<p class="error validationerror" ng-show="loginForm.email.$invalid && loginForm.email.$touched">Must be a valid Email</p>
		
		<input type="password" name="password" placeholder="Password" 
					 ng-model="user.password" ng-required="true"/>
			<p class="error validationerror" ng-show="loginForm.password.$invalid && loginForm.password.$touched">Password is required</p>
		
		<button class="btnLogin" type="submit" ng-disabled="loginForm.$invalid">Welcome!</button>
		<p>or <a href="#login" class="loginregisterswap">login here</a></p>
	</form>
</section>	